
<div class="container">
  <form [formGroup]="angForm" novalidate class="my-form">
    <div class="form-group">
      <label>Name:</label>
      <input class="form-control" formControlName="name" type="text">
    </div>
    <div *ngIf=" name && name.invalid  && (name.dirty || name.touched)" class="alert alert-danger">
      <div *ngIf="name && name.errors" >
        Name is required.
      </div>
    </div>
    <div class="form-group">
      <label>Address:</label>
      <input class="form-control" formControlName="address" type="text">
    </div>
    <div *ngIf="address && address.invalid  && (address.dirty || address.touched)" class="alert alert-danger">
      <div *ngIf="address.errors">
        email is required.
      </div>
    </div>
    <button type="submit"
            [disabled]="angForm.pristine || angForm.invalid" class="btn btn-success">
      Save
    </button>
  </form>
  <br />
  <p>Form value: {{ angForm.value | json }}</p>
  <p>Form status: {{ angForm.status | json }}</p>
</div>
